:root {
  font-size: 1rem;
  --color-black: #222;
  --color-white: #fff;
  
  --color-text: var(--color-black);
  --color-background: var(--color-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  word-break: break-word;
  /* remove effect of elements lighting up on tap */
  -webkit-tap-highlight-color: transparent;
}

/* reset default margin */
body, 
p, label, legend,
h1, h2, h3, h4, h5, h6,
form, input, textarea, select {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.5;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
